@import url("https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Poppins&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --baby-blue: #7fdeff;
  --space-cadet: #2c2a4a;
  --purple-navy: #4f518c;
  --medium-purple: #907ad6;
  --mauve: #dabfff;
  --ponkan: #f8a557;
}

body {
  background: var(--space-cadet);
}

.title {
  text-align: center;
  margin: 100px;
  color: var(--mauve);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sub-title {
  color: var(--ponkan);
}

button {
  margin: 40px 0px 20px 0px;
  padding: 8px 130px;
  font-size: 1.1rem;
  border: none;
  border-radius: 2px;
  background-color: var(--mauve);
  color: var(--space-cadet);
}

input {
  padding: 8px;
  border: none;
  border-radius: 2px;
  text-align: center;
  font-size: 1rem;
}
